{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}logining{% endblock %}

{% block content %}

      <h1>Please login</h1>
      <br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
      {{ render_form(form=login_form) }}

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

{% endblock %}
