{% extends 'base.html' %}

{% block title %}logining{% endblock %}

{% block content %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <div>{{ contact.username.label() }} {{ contact.username }}</div>
        <div>{{ contact.password.label() }} {{ contact.password }}</div>
        <div>{{ contact.submit }}</div>
<!--         <input type="text" placeholder="Email" name="email" value="{{
          contact.email }}">
         <input type="password" placeholder="Password" name="password" value="{{
          contact.password }}">
        <input class="btn btn-default" type="submit" value="Login">  -->
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

{% endblock %}