body {
    background-image: url("static/img/register-ai-img.jpg")
}
.form-group {
	display: flex;
}
.form-wrapper {
	position: relative;
}

.form-content {
    margin: 200px 0;
    background: rgba(0, 128, 0, 0.3);
}


.btn-register {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #444;
    font-size: 15px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
